.menuScreen {
    height: 100vh; /* Высота блока — 100% от высоты экрана */
    background-image: url('../../public/img/screens/mainScreen.png');
    background-position: bottom;
}

.menuBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 60px;
    top: 30%;
    gap: 30px;
}

.menuBlock button {
    width: 200px;
    background-color: #3981c7;
    color: white;
    border: 1px solid #3981c7;
    border-radius: 25px;
    padding: 12px;
    font-size: 24px;
    font-family: "Comic Sans MS";
    cursor: pointer;
    transition: all 0.3s ease;
}

.menuBlock button:hover {
    background-color: #0055a5;
    border: 3px solid #ffffff
}

.controls{
    display: flex;
    position: absolute;
    top: 70%;
    left: 60px;
}

.controls button{
    background-color: #3981c7;
    background-repeat: no-repeat;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: #3981c7 solid 8px;
    border-radius: 50%;
}

.controls button:hover{
    background-color: #0055a5;
    border-color: #0055a5;
}
